.pagehader{  

    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ECECEC;

    &__nav {
        height: 40px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button{
 
    
    padding: 0;
    margin: 0;

    width: 40px;
    height: 40px;
    border:none;
    background-color: inherit;
    cursor: pointer;

    &:hover, &:focus{
        fill: $brandblue;
    }


    @media screen and (min-width: $tablet){
        display: none;
      }

    @media screen and (min-width: $desktop){
      display: none;
    }
    }

    @media screen and (min-width: $tablet){
    
        padding-top: 21px;
        padding-bottom: 21px;
    
    
        &__nav{
            display: flex;
            align-items: center;
            height: unset;
        }
        
        &__box {
            display: flex;
            align-items:center;
        }
    
        &__adress{
            margin: 0px;
            padding: 0px;
    
            display: flex;
            margin-left: auto;
        }
       }

    @media screen and (min-width: $desktop){
    
    padding-top:24px;
    padding-bottom: 25px;


    &__nav{
        display: flex;
        align-items: center;
        height: unset;
    }
    
    &__box {
        display: flex;
        align-items:center;
    }

    &__adress{
        margin: 0px;
        padding: 0px;

        display: flex;
        margin-left: auto;
    }
   }
} 

.adress{

    display: none;

    @media screen and (min-width: $tablet){

        display: block;

        &__item:not(:last-child) {
            margin-bottom: 10px;
        }
        
        &__link{
            text-decoration: none;
            color: $brandgray;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.02em;

            font-family: 'Roboto';
            
            position: relative;
            display: flex;
            align-items: center;
            
            transition: color $transitoin-property;
    
            &:hover, &:focus{
                    color: $brandblue;  
            }
        }
    
        &__email{
            fill: currentColor;
            margin-right: 10px;
        }
        
        &__phone{
            fill: currentColor;
            margin-right: 10px;
        }   
    
    }

    @media screen and (min-width: $desktop){

    display: flex;    
    font-weight: 500;

    &__item:not(:last-child) {
        margin-right: 30px;
        margin-bottom: 0;
    }

    &__link{
        text-decoration: none;
        color: $brandgray;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        
        position: relative;
        display: flex;
        align-items: center;
        
        transition: color $transitoin-property;

        &:hover, &:focus{
                color: $brandblue;  
        }
    }

    &__email{
        fill: currentColor;
        margin-right: 10px;
    }
    
    &__phone{
        fill: currentColor;
        margin-right: 10px;
    }   
   }
}
