.portfolio{

    &__title{
   
        width: 1px; 
        height: 1px; 
        margin: -1px; 
        border: 0; 
        padding: 0; 
        white-space: nowrap; 
        clip-path: inset(100%); 
        clip: rect(0 0 0 0); 
        overflow: hidden;   
    } 

    &__list{

        margin: 0px;
        padding: 0px;
       
        margin-left: calc(-1 * $portfolio-gap);
        // margin-top: calc(-1 * $portfolio-gap);

        @media screen and (min-width: $tablet){
            display: flex;
            flex-wrap: wrap;
            margin-top: calc(-1 * $portfolio-gap)
        }

        @media screen and (min-width: $desktop){
            display: flex;
            flex-wrap: wrap;
            margin-top: calc(-1 * $portfolio-gap)
        }
    }
}

.companycard{

        flex-basis: calc(100% - $portfolio-gap);
        margin-left: $portfolio-gap;
        margin-top: $portfolio-gap;
        
        display: flex;
        flex-direction: column;

        transition: box-shadow $transitoin-property;

        &:hover, &:focus{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 
        1px 4px 6px rgba(0, 0, 0, 0.16);
        
        }

        @media screen and (min-width:$tablet) and (max-width:$desktop){
            max-width: $tablet;
            flex-basis: calc(100% / 2 - $portfolio-gap);              
        }

        @media screen and (min-width:$desktop){
            max-width: $desktop;
            flex-basis: calc(100% / 3 - $portfolio-gap);
        }

        &__border{

            flex-grow: 1;
            border: 1px solid #EEEEEE;
            padding-top: 20px;
            padding-left: 24px;
            padding-right: 24px;
            padding-bottom: 20px;
        }

        &__title{
            font-weight: 700;
            font-size: 18px;
            line-height: 2;
            color: #212121;
            letter-spacing: 0.06em;

            padding: 0px;
            margin:0px;
           
            margin-bottom: 4px; 
        }
        
        &__deskr{
            font-size: 16px;
            line-height: 1.875;
            letter-spacing: 0.03em;
        
            padding: 0px;
            margin: 0px;
        }


    &__thumb{

        display: block;
        position: relative;
        overflow: hidden;

        &-text{

            display: block;
            position: absolute;
        
            margin: 0px;
            padding: 0px;
        
            color: $brandwhite;
            font-size: 18px;
            line-height: 1.56;
            padding: 20px 24px;
            
            width: 100%;
            height: 100%;
            background-color: rgba(33, 150, 243, 0.9);

            @media screen and (min-width: $mobile) and (max-width:$tablet){
                padding: 77px 24px;
            }

            @media screen and (min-width: $tablet) and (max-width:$desktop){
                padding: 63px 23px;
            }

            @media screen and (min-width: $desktop){
                padding: 49px 24px 77px 24px;
            }
        
            overflow: auto; 
            transition: transform $transitoin-property;
        }
        
        &:hover &-text{
            transform: translateY(-100%);
        }
    } 

    &__img{
 
        display: block;
        max-width: 100%;
        height: auto;

        @media screen and (min-width: $tablet){
            max-width: 100%;
            width: 354px; 
            height: 294px;
        }

        @media screen and (min-width: $desktop){
            max-width: 100%;
            width: 370px; 
            height: 294px;
        }
    }
}

.filter{

    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    margin-bottom: 40px;

    &__item:not(:last-child){
        margin-right: 8px;
    }

    &__button {

        cursor: pointer;
        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.625;
        text-align: center;
        color: $blacknav;
        background: $dbgcolorgray;
        letter-spacing: 0.03em;
    
        display: block;
        border-radius: 4px;
        padding: 6px 22px 6px 22px;
        border: none;

        margin-bottom: 15px;
    
        transition: color $transitoin-property,
        background $transitoin-property;

        &:hover,
        &:focus {
            color: $brandwhite;
            background: $brandblue;
        }        
    }
        
    @media screen and (min-width: $tablet){
        
        margin-bottom: 30px;
        justify-content: center;

        &__button {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: $desktop){
        
        margin-bottom: 50px;
        justify-content: center;

        &__button {
            margin-bottom: 0;
        }
    }
}    