.team{

    background-color: $dbgcolorgray;
    

    @media screen and (min-width: $tablet){
    &__list{

            display: flex;
            flex-wrap: wrap;
            gap: 30px;

            margin: 0;
            padding: 0;
        }
    }

    @media screen and (min-width: $desktop){
    &__list{
        margin: 0;
        padding: 0;
        display: flex; 
        flex-wrap: nowrap;
        gap: unset;
    }
    }
}

.employee{

    display: block;

    background-color: $brandwhite;
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 24px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);

    &:not(:last-child){
        margin-bottom: 30px;
    }
   
    &__name{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.188;
        text-align: center;
        color: $blacknav;
        letter-spacing: 0.03em;

        margin: 0px;
        padding: 0px;

        margin-top: 30px;
        margin-bottom: 10px;
    }
   
    &__deskrp{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.188;
        text-align: center;
        letter-spacing: 0.03em;
    
        display: block;
        margin: 0px;
        padding: 0px;
    
        margin-bottom: 16px;
    }

    &__photo{
        max-width:100%;
        height:auto;
     }

    @media screen and (min-width: $tablet){
        flex-basis: calc((100% - 2*15px)/2);

        &:not(:last-child){
            margin-bottom: 0px;
            margin-right: 0px;
        }
    }

    @media screen and (min-width: $desktop){
        max-width: 270px;
        padding-bottom: 30px;

        &:not(:last-child){
            margin-bottom: 0px;
            margin-right: 30px;
        }

        &__photo{
           width:270px;
           height:260px;
        }
    }
}

 