// color-pallet
$brandblack: #000000;
$blacknav: #212121;
$brandblue:#2196F3;
$brandgray: #757575;
$brandwhite:#FFFFFF;
$whiteop:rgba(255, 255, 255, 0.6);
$dbgcolorblack:#2F303A;
$dbgcolorgray:#F5F4FA;
$iconfill: #AFB1B8;
$button-focus: #188CE8;
// fonts
$primery-font: Roboto, sans-serif;
$secondary-font: Raleway, sans-serif;
// transitions
$transitoin-property: 250ms cubic-bezier(0.4, 0, 0.2, 1);
// gap
$portfolio-gap: 30px;